<p id="notice"><%= notice %></p>

<% unless @friend.photo_url.nil? %>
  <p><%= image_tag @friend.photo_url %></p>
<% end %>

<p>
  <b>Fullname:</b>
  <%= @friend.fullname %>
</p>

<p>
  <b>Nickname:</b>
  <%= @friend.nickname %>
</p>

<p>
  <b>Email:</b>
  <%= @friend.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @friend.phone %>
</p>

<p>
  <b>Website:</b>
  <%= @friend.website %>
</p>

<p>
  <b>Friendshiplevel:</b>
  <%= @friend.friendshiplevel %>
</p>


<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Back', friends_path %>
